name: Train and Deploy Pipeline

on:
  push:
    branches:
      - main

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run training script
        run: |
          python train.py

      - name: Upload trained model
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: model.pkl

      - name: Upload training metrics
        uses: actions/upload-artifact@v4
        with:
          name: training-metrics
          path: metrics.json


  deploy:
    needs: train
    runs-on: ubuntu-latest

    steps:
      - name: Download trained model artifact
        uses: actions/download-artifact@v4
        with:
          name: trained-model

      - name: Download metrics artifact
        uses: actions/download-artifact@v4
        with:
          name: training-metrics

      - name: Deployment placeholder
        run: |
          echo "Job 2 triggered after successful training"
